body {
    font-family: 'vazir' , 'tahoma' !important;
    background-color: #282a36;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
    color: #f8f8f4;
}
input[type="text"],
input[type="email"],
input[type="number"] {
    color: #f8f8f4 !important;
    background-color: #44475a !important;
    border-color: #bd93f9 !important;
}
.navbar-brand {
    font-size: 15px;
    letter-spacing: 1px;
}
